header {
    background-image: url('/img/background1.webp');
    background-size: cover;
    background-position: center;
}
.inline-image-text {
  display: inline-flex;
  align-items: center; /* 垂直居中 */
  font-size: 35px;
}
.inline-image-text img {
  width: 75px;
  height: 75px;
  margin-right: 50px; /* 图片与文字间距 */
  vertical-align: middle; /* 确保对齐 */
}